body {
    font-family: monospace;
    text-align: center;
    margin: 1rem;
}
.btn {
    position: center;
    border: none;
    background-color: maroon;
    font-size: 12px;
}
.container{
    text-align: center;
}
